/*
 Autor: Felipe Genuino
 Site: www.felipegenuino.com
 */

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {  font: 13px/1.5 "titillium_webregular", Helvetica Neue, Arial, "Liberation Sans", FreeSans, sans-serif; color:#4e5e65}
pre,code {  font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;}
hr {  border: 0 solid #ccc; border-top-width: 1px;  clear: both;  height: 0;}
a{color: #0d65f0; text-decoration: none; -webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;}
 
 a:hover{ text-decoration:underline}
 
/* `Botoes
----------------------------------------------------------------------------------------------------*/
 input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	border: 1px solid #ccc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.75);
/*	display: block; */
	font-size: 18px;
	margin: 0 0 12px 0;
	padding: 6px;
	height: 18px;
	width: 100%; 
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
	background:none repeat scroll 0 0 #E9E9E9;
	letter-spacing:-1px;
}
input[type="text"].oversize, input[type="password"].oversize, input[type="date"].oversize, input[type="datetime"].oversize, input[type="email"].oversize, input[type="number"].oversize, input[type="search"].oversize, input[type="tel"].oversize, input[type="time"].oversize, input[type="url"].oversize, textarea.oversize {
	font-size: 17px;
	padding: 4px 6px
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
	background: #fafafa;
	outline: none !important;
	border-color: #b3b3b3
}
input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] {
	background-color: #ddd
}
	
	
input[type="submit"] {}

.button {
	width: auto;
	background: #34a167;
	border: 1px solid #30962a;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	 	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	outline: none;
	padding: 10px 20px 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out
}
.button:hover {
	color: #fff;
	background-color: #38AE6F
}
.button:active {
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset
}
.button:focus {
	-webkit-box-shadow: 0 0 4px #34a167, 0 1px 0 rgba(255,255,255,0.5) inset;
	-moz-box-shadow: 0 0 4px #34a167, 0 1px 0 rgba(255,255,255,0.5) inset;
	box-shadow: 0 0 4px #34a167, 0 1px 0 rgba(255,255,255,0.5) inset;
	color: #fff
}


.button.large {
	font-size: 17px;
	padding: 15px 30px 16px
}
.button.medium {
	font-size: 14px
}
.button.small {
	font-size: 11px;
	padding: 7px 14px 8px
}
.button.tiny {
	font-size: 10px;
	padding: 5px 10px 6px
}
.button.expand {
	width: 100%;
	text-align: center
}

/* `Tipografia
----------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'titillium_webbold';
    src: url('fonts/titilliumweb-bold-webfont.eot');
    src: url('fonts/titilliumweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-bold-webfont.woff') format('woff'),
         url('fonts/titilliumweb-bold-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-bold-webfont.svg#titillium_webbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'titillium_webthin';
    src: url('fonts/titilliumweb-extralight-webfont.eot');
    src: url('fonts/titilliumweb-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-extralight-webfont.woff') format('woff'),
         url('fonts/titilliumweb-extralight-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-extralight-webfont.svg#titillium_webthin') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'titillium_weblight';
    src: url('fonts/titilliumweb-light-webfont.eot');
    src: url('fonts/titilliumweb-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-light-webfont.woff') format('woff'),
         url('fonts/titilliumweb-light-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-light-webfont.svg#titillium_weblight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titillium_webregular';
    src: url('fonts/titilliumweb-regular-webfont.eot');
    src: url('fonts/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-regular-webfont.woff') format('woff'),
         url('fonts/titilliumweb-regular-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titillium_webitalic';
    src: url('fonts/titilliumweb-italic-webfont.eot');
    src: url('fonts/titilliumweb-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-italic-webfont.woff') format('woff'),
         url('fonts/titilliumweb-italic-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-italic-webfont.svg#titillium_webitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titillium_webbold_italic';
    src: url('fonts/titilliumweb-bolditalic-webfont.eot');
    src: url('fonts/titilliumweb-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-bolditalic-webfont.woff') format('woff'),
         url('fonts/titilliumweb-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-bolditalic-webfont.svg#titillium_webbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'titillium_weblight_italic';
    src: url('fonts/titilliumweb-lightitalic-webfont.eot');
    src: url('fonts/titilliumweb-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/titilliumweb-lightitalic-webfont.woff') format('woff'),
         url('fonts/titilliumweb-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/titilliumweb-lightitalic-webfont.svg#titillium_weblight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* `Titulos / subtitulos
----------------------------------------------------------------------------------------------------*/
		h1 {  font: 30px/1.5 'titillium_webthin', Arial, 'Liberation Sans', FreeSans, sans-serif; color:#FFF;  margin-top: 55px; }
		h1 strong {  font: 48px/1.5 'titillium_webbold', Arial, 'Liberation Sans', FreeSans, sans-serif; }
		h2 {  font-size: 23px;}
		h3 {   font: 16px/1.5 'titillium_weblight', Arial, 'Liberation Sans', FreeSans, sans-serif;  margin-bottom: 5px !important; text-transform: uppercase;}
			h3 strong {  font: 16px/1.5 'titillium_webbold' }
		h4 {  font-size: 19px;}
		h5 {  font-size: 17px;}
		h6 {  font-size: 15px;}
		
		.copyright{ font-family: arial; font-size: 11px;}
		form.login label{font: 14px/1.5 'titillium_webitalic', Arial, 'Liberation Sans', FreeSans, sans-serif;    }
		
		.box-rodape
		{ font-family:'titillium_webregular', Arial, 'Liberation Sans', FreeSans, sans-serif;}

/* `Spacing
----------------------------------------------------------------------------------------------------*/
		ol {  list-style: decimal;}
		ul {  list-style: disc;}
		li {  margin-left: 30px;}
		p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,figure {  margin-bottom: 20px;}
 
 
/* `Seleção amarela
----------------------------------------------------------------------------------------------------*/
		::selection {background: #FFFF00; /* Safari */  color: #000;  text-shadow: none;}
		::-moz-selection {background: #FFFF00; /* Firefox */ color: #000; text-shadow: none;}


/* Estrutura
-------------------------------------------------- */
		#header{   	background: url("../img/background-header.png") no-repeat scroll center top #423848;   padding:25px 0 10px;   position: relative;    z-index: 2000;}
		#conteudo{  background: url("../img/background-conteudo.png") no-repeat scroll center top #f2f2f2;  
					 padding: 20px  0;
					 min-height: 400px;
					 -webkit-box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.3);  
					-moz-box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.3); 
					box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.3); 
					   position: relative;    z-index: 1000; }
 
		#rodape{  	padding: 20px 0;}
			

/* Navegação usuário
-------------------------------------------------- */
		#nav-user{list-style: none outside none;  float: right;}
		#nav-user li{ float: left;}
		#nav-user li a{  color: #999;    text-decoration: none;}
		#nav-user li a:hover{ color:#423848}
		#nav-user li span.usuario{  background: url("../img/icons-preto.png") no-repeat scroll -166px 2px transparent; float: left; height: 16px; width: 20px; }
		#nav-user li span.sair{  background: url("../img/icons-preto.png") no-repeat scroll -382px 2px transparent; float: left; height: 16px; width: 20px;}
		



 /* login
-------------------------------------------------- */
		#bloco-login{ background:#fff; border: 1px solid #E8E8E8;float: left; width: 100%;}
		form.login {  width: 100%;}
		form.login label {color: #AAAAAA;    display: block;   width: 100%;    }
		form.login input { float: left; width: 65%;}
		form.login input[type="submit"] {float: left;    width: 25%;}
		.box-header{ padding:3px 10px; background:#f8f8f8; border:1px solid #e8e8e8;  border-top: 3px solid #34a167; }
		.box-conteudo{float: left; width: 85%; margin-left: 30px;padding: 10px 10px 0;}
		.box-conteudo-rodape{float:left; width:100%}
		.box-rodape{ color: #AAAAAA; float: left; padding: 10px; width: 94%;}
		hr.linha{ margin: 5px 0;   width: 84%;}
		.box-header h3{}



 /* login
-------------------------------------------------- */
		#resumo-da-compra{	  border-top: 2px solid #34A167; float: left; height: 75px; list-style: none outside none;    color: #FFFFFF;}
		#resumo-da-compra li{ border-right: 1px solid #333333; display: block; float: left; height: 75px; margin-left: 0; background: none repeat scroll 0 0 #777777}
		#resumo-da-compra li:last-child{ border:none}
		#resumo-da-compra li h3{ margin-top: 25px; padding:0px 30px;}
		#resumo-da-compra li.titulo-parcelas{ padding: 0 15px; float: left;    width: 8%; background:#656565}
		#resumo-da-compra li.titulo-formas-de-pagamento{ padding: 0 15px; float: left;    width: 17%; background:#656565}
		#resumo-da-compra li.titulo-valor-total{ padding: 0 15px; float: left;    width: 13%; background:#656565}
		#resumo-da-compra li.titulo-botao{   float: left;    width: 318px;}
		#resumo-da-compra li.titulo-botao a:hover{text-decoration:none}
		#resumo-da-compra li.titulo-botao a{float: left; height: 18px;padding: 28px 20px; text-align: center; width: 267px;}
		#resumo-da-compra li span{    float: left;font-size: 18px; width: 100%;}
		#resumo-da-compra li em{    color: #CCCCCC; float: left; padding-top: 5px; }